@import 'login.css';
@import 'signup.css';

.bobby-error-notification {
  color: var(--lumo-error-text-color);
  background: var(--lumo-error-color-10pct);
  padding: var(--lumo-space-m);
  padding-left: var(--lumo-size-m);
  margin-top: var(--lumo-space-m);
  border-radius: var(--lumo-border-radius-m);

  &&::before {
    content: var(--lumo-icons-error);
    font-family: lumo-icons;
    font-size: var(--lumo-icon-size-m);

    margin-left: calc(var(--lumo-size-m) * -0.95);
    position: absolute;

    width: var(--lumo-size-m);
    height: 1em;
    line-height: 1;
    text-align: center;
  }

  .notification-title {
    display: block;
    margin-bottom: 0.25em;
    line-height: var(--lumo-line-height-xs);
    vertical-align: text-top;
  }

  .notification-message {
    font-size: var(--lumo-font-size-s);
    line-height: var(--lumo-line-height-s);
    margin: 0;
    opacity: 0.9;
  }
}

.bobby-user-popover {
  p {
    margin: var(--lumo-space-xs) var(--lumo-space-s);
  }

  vaadin-vertical-layout {
    justify-content: center;
  }

  vaadin-button {
    color: var(--lumo-body-text-color);
    background-color: var(--lumo-base-color);
    width: 100%;
    margin: 0;
  }

  vaadin-button:hover {
    background-color: var(--lumo-contrast-10pct);
  }
}

.bobby-navbar {
  vaadin-icon {
    margin-right: 8px;
  }
}

vaadin-app-layout {
  .bobby-navbar {
    a {
      align-content: center;
      justify-content: center;
    }
  }

  &[drawer-opened] {
    .bobby-navbar {
      margin-top: 6px;
      justify-content: center;

      vaadin-icon {
        visibility: collapse;
      }
      p {
        visibility: show;
      }
    }
  }

  &[overlay] {
    .bobby-header {
      width: 100%;
    }
    .bobby-navbar {
      vaadin-icon {
        visibility: show;
      }
      p {
        visibility: collapse;
      }
    }
  }
}
